/* TEAM */
.team {
  background-color: var(--background-color);
}
.section-title {
  margin-bottom: 50px;

  font-weight: var(--weight-bold);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-list {
  display: flex;
}
.team-list .item:nth-child(n + 2) {
  margin-left: 30px;
}
.team-mempost {
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 30px 32px;

  background-color: var(--white-color);
}
.team-member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-post {
  margin-bottom: 16px;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
}
.social-links {
  display: flex;
}
.team-link {
  width: 44px;
  height: 44px;
}
.team-link:not(:last-child) {
  margin-right: 10px;
}
.team-icon {
  border-radius: 50%;
  color: var(--main-icon);
}
.team-icon:hover,
.team-icon:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
